.Container-Slide {
    color: transparent;
    position: relative;
    width: 100%; /* Adjust based on your layout */
    height: 100%; /* Adjust based on your layout */
}

.swiper-button-prev, .swiper-button-next {

    border-color: #48ff00;
    border-width: 1px;
    font-size: 1px;
   
    position: relative;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #000000;
    color: #48ff00;
    width: 30px;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}

.swiper-button-prev {
   
 
    left: -400px; /* Moves the button towards the left edge */
    top: -200px;
}

.swiper-button-next {
     /* Moves the button towards the right edge */
     
   
     right: 200px;
     top: -375px;
}

ion-icon {
    font-size: 20px; 
    color: #000; 
}

.swiper_container {
    padding: 0 50px; 
}

@media (max-width: 768px) {
    .swiper-button-prev, .swiper-button-next {
        width: 30px;
        height: 30px;
        font-size: 15px; /* Adjust icon size for smaller devices */
    }
}