@tailwind base;
@tailwind components;
@tailwind utilities;
/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.button + .button {
  margin-left: 10px;
}