@tailwind base;
@tailwind components;
@tailwind utilities;
/* style.css */

body {
  font-family: "Kode Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: #250E4F;
}

button {
  background-color: #250E4F;
  color: #fb923c;
  border-radius: 5px;
  padding: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-style: solid;
  border-color: #250E4F;
font-weight: bold;
text-decoration: none;
font-family: "Kode Mono", monospace;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Smooth color transition for hover */
}

.button {
background-color: #250E4F;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.button + .button {
  margin-left: 10px;
}

/*.roms,.button a{
  color: #EF4444;
  border-bottom-style: solid;
}

.roms:hover{
  background-color: #EF4444;
  color: white;
  border-color: #EF4444;
}

.games, .button a{
  color: #4ade80;
  border-bottom-style: solid;
}

.games:hover{
  background-color: #4ade80;
  color: white;
  border-color: #4ade80;
}

.login,.button a{
  color: #0ea5e9;
  border-bottom-style: solid;
}

.login:hover{
  background-color: #0ea5e9;
  color: white;
  border-color: #0ea5e9;
}

.sign-up,.button a{
  color: #a855f7;
  border-bottom-style: solid;
}

.sign-up:hover{
  background-color: #a855f7;
  color: white;
  border-color: #a855f7;
}*/

.roms2,.button a{
  background-color: #1E0B41;
  color: #EF4444;
  border-bottom-style: solid;
}

.roms2:hover {
  background-color: #EF4444;
  color: white;
  border-color: #EF4444;
  transition: color 0.3s;
}

.games2, .button a{
  background-color: #1E0B41;
  color: #4ade80;
  border-bottom-style: solid;
}

.games2:hover {
  background-color: #4ade80;
  color: white;
  border-color: #4ade80;
  transition: color 0.3s;
}

.about,
.features {
    margin-bottom: 30px;
}

.about h2,
.features h2 {
    font-size: 24px;
    margin-bottom: 10px;
  color: #fff
}

.about p,
.features ul {
    font-size: 16px;
    color: #fff;
}



.features li {
    margin-bottom: 10px;
}


footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none; /* Remove underline on hover */
}

/**EMULATION STUFF**/

.login {
  background-color: #1d0631;
  height: 100vh;
  color: #c1a2f4;
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.loginTitle {
  margin-top: 0;
  padding-bottom: 20px;
  font-size: 72px;
  color: #cfb1ff;
}

.fields {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding-bottom: 10px;
}

.email,
.password {
  padding-bottom: 5px;
}

input {
  border-radius: 5px;
  font-size: 20px;
  background-color: #cfb1ff;
}

button {
  border-radius: 8px;
  padding: 5px 15px;
  color: #c1a2f4;
  background-color: #3a1772;
  border-color: #733cca;
  font-size: 20px;
}

a:link {
  color: #9f75d3;
}

a:visited {
  color: #9f75d3;
}

a:hover {
  color: #8c5fc2;
}

a:active {
  color: #8c5fc2;
}


/* ALL OF THE SLIDE FUNCTIONALITY, START */
.Container-Slide {
  max-width: 54rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading-Slide {
  height: 32rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 15rem;
  height: 20rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 20rem;
  }
  .swiper-slide {
    width: 15rem !important;
    height: 20rem !important;
  }
  .swiper-slide img {
    width: 15rem !important;
    height: rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 32rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
/* ALL OF THE SLIDE FUNCTIONALITY, END */

/*
#070F2B
#1B1A55
#535C91
#9290C3
*/

